@font-face {
    font-family: Raleway-Black;
    src: url("../trilha-css-desafio-01/assets/fonts/Raleway-Black.ttf");
}

@font-face {
    font-family: Raleway-Regular;
    src: url("../trilha-css-desafio-01/assets/fonts/Raleway-Regular.ttf");
}

/* BANNER */
.banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #31A8DD 0%, #000000 60%);
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-image: url("../trilha-css-desafio-01/assets/images/banner.png");
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 248px;
    height: 214px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#title-banner {
    font-family: Raleway-Black;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#1472B7 100%, #33A8DB 100%);
    -webkit-background-clip: text;
    color: transparent;
}

#text-banner {
    font-family: Raleway-Regular;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

#signup-button-banner {
    color: #33A8DB;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 2px solid #33A8DB;
    text-transform: uppercase;
    font-family: Raleway-Black;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    letter-spacing: 3.35px;
}

/* COURSE CONTENT */
#course-content {
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#course-content h2 {
    font-family: Raleway-Regular;
    font-weight: 700;
    font-size: 32px;
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: 3.35px;
}

#course-content p {
    color: white;
    font-family: Raleway-Regular;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.modules-list {
    list-style: none;
}

.module {
    width: 535px;
    height: 51px;
    padding: 1rem;
    margin-top: 1rem;
    font-family: Raleway-Regular;
    font-weight: 400px;
    size: 16px;
    color: white;
    text-align: center;
    background-color: rgba(37, 37, 37, 1);
    border: 1px solid #33A8DB;
    border-radius: 57px;
    box-shadow: inset -2px 6px rgba(0, 0, 0, 0.4);
}

.modules-list span {
    color: #33A8DB;
}

/* TRANSFORM WORLD */
#transform-world {
    height: 560px;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
    background-image: url('/trilha-css-desafio-01/assets/images/woman-code.png');
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase; 
    max-width: 250px; /* Definiu a largura maximo do paragrafo */
    text-shadow: 3px 2px #33A8DB; /* Adiciona sombra ao texto */
    color: white;
}

/* PROFESSIONAL CHALLENGES */
#professional-challenges {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#professional-challenges h2{ 
    max-width: 50%;
    margin-top: 5rem;
    font-family: Raleway-Regular;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    letter-spacing: 3.04px;
    text-align: center;
    text-transform: uppercase;
    color: #33A8DB;
}

#professional-challenges img{
    max-width: 659px;
    max-height: 429px;
}

#professional-challenges p{
    margin-top: 3rem;
    max-width: 792px;
    max-height: 76px;
    font-family: Raleway-Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    text-align: center;
    color: white;
}

/* FOOTER */

footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
    max-width: 310px;
    max-height: 44px;
    margin-top: 40px;
}

footer p {
    font-family: Raleway-Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    align-items: center;
    color: white;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}